
@font-face {
    font-family: 'roboto-regular';
    src: url(../fonts/Roboto/static/Roboto-Regular.ttf);
}

@font-face {
    font-family: 'roboto-light';
    src: url(../fonts/Roboto/static/Roboto-Light.ttf);
}

@font-face {
    font-family: 'roboto-ExtraBold';
    src: url(../fonts/Roboto/static/Roboto-ExtraBold.ttf);
}

:root {
    --primary-color: #FFEB00;
    --secondary-color: #5595D1;
    --gray-default: #59595B;
    --gray-background: #E9E9E9;

    --roboto-regular: 'roboto-regular', 'sans-serif';
    --roboto-light: 'roboto-light', 'sans-serif';
    --roboto-ExtraBold: 'roboto-ExtraBold', 'sans-serif';
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: var(--roboto-regular);
}

/******** PRELOADER ********/
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.spinner {
    width: 50px;
    height: 50px;
    border: 5px solid #3498db;
    border-top: 5px solid transparent;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.hidden {
    display: none;
}

/*************** HOME SECTION *****************/
.home-section {
    height: 85vh;
    background: url('../images/background-home.png');
    background-repeat: no-repeat;
    background-position: top, left;
    background-size: cover;
}

.home-title-container {
    display: flex;
    width: 470px;
    background-color: var(--primary-color);
    margin-left: 7.6rem;
    padding: 4.8rem;
    border-radius: 0px 0px 1.5rem 1.5rem;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.219);
}

.home-logo-img {
    height: 4rem;
}

.logo-container {
    display: flex;
    align-items: center;
    font-size: 2rem;
    margin-bottom: 3rem;
}

.logo-p-bold {
    font-family: var(--roboto-ExtraBold);
}

.title-subtitle-container h1 {
    font-size: 2.9rem;
    font-family: var(--roboto-ExtraBold);
    color: var(--secondary-color);
    margin-bottom: 10px;
}

.title-subtitle-container p {
    color: var(--gray-default);
    margin-bottom: 3rem;
}

/******************* DESCRIPTION SECTION *******************/
.description-section {
    padding: 4.5rem 0px;
    background-color: var(--primary-color);
}

.description-section-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.9rem;
}

.description-section-container img {
    height: 290px;
    border-radius: 1rem;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.233);
    border: 2px solid var(--gray-background);
}

.description-section-container p {
    width: 400px;
    font-size: 17px;
    color: var(--gray-default);
}

/******************* VIDEO SECTION *******************/
.video-section {
    background-color: var(--secondary-color);
}

.video-section-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.video-section-title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    padding: 6rem 0px 3rem 0px;
    width: 580px;
}

.video-section-title h2 {
    text-align: center;
    color: var(--primary-color);
    letter-spacing: 1px;
    font-size: 1.8rem;
}

.video-section-title p {
    color: #ffffff;
    font-size: 1.2rem;
}

.phone-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
}

.phone-logo {
    height: 17px;
}

.phone-number-bold {
    font-family: var(--roboto-ExtraBold);
}

.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 2.1rem;
}

.video-wrapper {
    position: relative;
    width: 100%;
    max-width: 560px;
    aspect-ratio: 16 / 9;
}

.video-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
    border: 1px solid black;
}

#playButton {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.7);
    color: white;
    border: none;
    border-radius: 50%;
    font-size: 34px;
    width: 70px;
    height: 70px;
    cursor: pointer;
}

.button-fale-conosco {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    padding: 1rem 5rem;
    border-radius: 1rem;
    border: 2px solid black;
    background-color: var(--primary-color);
    cursor: pointer;
    margin-bottom: 6rem;
}

.button-fale-conosco:hover {
    background-color: #e7d509;
    transition: 0.3s;
}

.button-fale-conosco img {
    height: 28px;
}

.button-fale-conosco p {
    font-size: 1rem;
    font-family: var(--roboto-regular);
    font-weight: bold;
}

/******************* WARNING SECTION *******************/
.warning-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
}

.warning-section-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 2.5rem 1.5rem;
    width: 770px;
    color: var(--secondary-color);
}

.warning-section-container p {
    font-size: 1.1rem;
}

.warning-section-container img {
    height: 50px;
}

/******************* FORM SECTION *******************/
.form-section {
    background-color: var(--gray-background);
}

.form-section-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 7rem 1rem;
}

.form-title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5rem;
    width: 400px;
}

.form-title h2 {
    font-size: 2.3rem;
    font-family: var(--roboto-light);
    color: var(--secondary-color);
}

.form-title-bold {
    font-family: var(--roboto-ExtraBold);
}

.form-title-emphasis {
    color: var(--gray-default);
    font-family: var(--roboto-ExtraBold);
}

.form {
    background-color: #ffffff;
    border-radius: 1rem;
    width: 380px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.233);
}

.form-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1.4rem;
    padding: 3rem;
}

.input-wrap {
    display: flex;
    flex-direction: column;
}

.input {
    padding: 7px;
    font-size: 17px;
    border-radius: 7px;
    border: 1px solid #59595b73;
}

label {
    color: var(--gray-default);
    font-size: 11px;
    font-family: var(--roboto-ExtraBold);
    margin-bottom: 5px;
}

#inputButton {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background-color: var(--secondary-color);
    border-radius: 12px;
    border: 1px solid black;
    font-size: 15px;
    color: #ffffff;
    padding: 17px;
    margin-top: 15px;
    cursor: pointer;
}

#inputButton:hover {
    background-color: #508bc2;
    transition: 0.3s;
}

#inputButton img {
    height: 18px;
    color: var(--primary-color);
}

/******************* FOOTER SECTION *******************/
footer {
    text-align: center;
    padding: 1.2rem 12px;
    color: var(--gray-default);
}

/******************* MEDIA QUERIES *******************/

@media screen and (max-width: 800px) {

    /***************** FORM SECTION MOBILE ******************/
    .form-section-container {
        flex-direction: column;
        padding: 5.5rem 1rem;
    }
    
    .form-title {
        margin-bottom: 3rem;
    }

    .form-title h2 {
        font-size: 2rem;
    }

    .form-title img {
        display: none;
    }

    .form {
        width: 92vw;
    }

    .form-content {
        padding: 3rem 2.1rem;
    }
}

@media screen and (max-width: 640px) {

    /*************** HOME SECTION MOBILE *****************/
    .home-section {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 85vh;
        background: none;
        background-color: var(--primary-color);
    }

    .home-title-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 470px;
        background-color: var(--primary-color);
        margin-left: 0;
        padding: 1.5rem;
        border-radius: 0;
        box-shadow: none;
    }

    .home-title {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: auto;
    }

    .title-subtitle-container {
        text-align: center;
    }

    .title-subtitle-container h1 {
        margin-bottom: 18px;
    }

    /******************* DESCRIPTION SECTION MOBILE *******************/
    .description-section {
        background-color: var(--gray-background);
    }

    .description-section-container {
        flex-direction: column;
        gap: 1.8rem;
    }

    .description-section-container img {
        height: 270px;
    }

    .description-section-container p {
        width: 80vw;
    }

    /***************** FORM SECTION MOBILE ******************/
    .form-title {
        text-align: center;
        width: 90vw;
    }
}

@media screen and (max-width: 580px) {

    /**************** VIDEO SECTION MOBILE *****************/
    .video-section-title {
        padding: 6rem 1rem 3rem 1rem;
        width: 90vw;
    }

    .video-wrapper {
        max-width: 90%;
    }

    /**************** WARNING SECTION MOBILE *****************/
    .warning-section-container {
        flex-direction: column;
    }

    .warning-section-container p {
        text-align: justify;
    }

}
